ipython-genutils~=0.2.0
ipython~=8.13.2; python_version>='3.9'
ipywidgets~=8.0.6
matplotlib-inline~=0.1.6
matplotlib~=3.7.1
notebook~=6.5.4
numpy
openai==0.28.0
pandas~=2.0.1
rouge_score
scikit-learn
